force-app/main/default/flows/cotizacionTransporte.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>asignarPorDias</name>
        <label>asignarPorDias</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>varCotizacion.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCotizacion.Valor_cotizado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcularPorDia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCotizacion.Detalle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>detallePordias</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>crearCotizacion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setUnico</name>
        <label>setUnico</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>varCotizacion.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCotizacion.Valor_cotizado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcularKms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCotizacion.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>guardarVarCotizacion</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>tipodeAlquiler</name>
        <label>tipodeAlquiler</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>asignarPorDias</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>unico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Tipo_de_Alquiler__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getKilometros</targetReference>
            </connector>
            <label>unico</label>
        </rules>
    </decisions>
    <formulas>
        <name>calcularKms</name>
        <dataType>Number</dataType>
        <expression>{!getKilometros.Kms__c}*{!$Record__Prior.Transport__r.Precio__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalcularPorDia</name>
        <dataType>Currency</dataType>
        <expression>({!$Record__Prior.Fecha_de_Fin__c}-{!$Record__Prior.Fecha_de_Inicio__c})*{!$Record__Prior.Vehicle__r.Precio__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>cotizacionTransporte {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cotizacionTransporte</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>crearCotizacion</name>
        <label>crearCotizacion</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputReference>varCotizacion</inputReference>
    </recordCreates>
    <recordCreates>
        <name>guardarVarCotizacion</name>
        <label>guardarVarCotizacion</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputReference>varCotizacion</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getKilometros</name>
        <label>getKilometros</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setUnico</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Salida__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Salida_Desde__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Llegada__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Llegada_en__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Distancia__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>tipodeAlquiler</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Servicio__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alquiler de Vehiculo</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DetalleFcUnico</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>El alquiler de {!$Record__Prior.Vehicle__r.Name} saliendo desde: {!getKilometros.Salida__c} y llegando a {!getKilometros.Llegada__c}</text>
    </textTemplates>
    <textTemplates>
        <name>detallePordias</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Precio de el vehiculo {!$Record__Prior.Vehicle__r.Name} iniciando {!$Record__Prior.Fecha_de_Inicio__c} y finalizando {!$Record__Prior.Fecha_de_Fin__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varCotizacion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cotizacion__c</objectType>
    </variables>
</Flow>
