force-app/main/default/flows/Cotizacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>setCotizacion</name>
        <label>setCotizacion</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>varCotizacion.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCotizacion.Valor_cotizado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cotizarCuenta</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCotizacion.Detalle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Textodetalle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCotizacion.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>crearCotizacion</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>TreaLacotizacion</name>
        <label>TreaLacotizacion</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>setCotizacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>existeCotizacion.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>actualizarCotizacion</targetReference>
            </connector>
            <label>existe</label>
        </rules>
    </decisions>
    <formulas>
        <name>cotizarCuenta</name>
        <dataType>Number</dataType>
        <expression>{!$Record__Prior.Vehicle__r.Precio__c}*({!$Record__Prior.Fecha_de_Fin__c}-{!$Record__Prior.Fecha_de_Inicio__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Coti {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cotizacion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>crearCotizacion</name>
        <label>crearCotizacion</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputReference>varCotizacion</inputReference>
    </recordCreates>
    <recordLookups>
        <name>existeCotizacion</name>
        <label>existeCotizacion</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TreaLacotizacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cotizacion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>actualizarCotizacion</name>
        <label>actualizarCotizacion</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Detalle__c</field>
            <value>
                <elementReference>Textodetalle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_cotizado__c</field>
            <value>
                <elementReference>cotizarCuenta</elementReference>
            </value>
        </inputAssignments>
        <object>Cotizacion__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>existeCotizacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Servicio__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Viaje Individual</stringValue>
            </value>
        </filters>
        <filters>
            <field>Vehicle__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Fecha_de_Fin__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Fecha_de_Inicio__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Textodetalle</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Cotizacion para el auto {!$Record__Prior.Vehicle__r.Name}, desde el {!$Record__Prior.Fecha_de_Inicio__c} hasta {!$Record__Prior.Fecha_de_Fin__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varCotizacion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cotizacion__c</objectType>
    </variables>
</Flow>
