force-app/main/default/flows/crearDetalle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AddCalendarService_0</name>
        <label>AddCalendarService</label>
        <locationX>248</locationX>
        <locationY>1920</locationY>
        <actionName>NewEvent</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>guardarDetalle_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EndDateTime</name>
            <value>
                <elementReference>$Record__Prior.Fecha_de_Inicio__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record__Prior.Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDateTime</name>
            <value>
                <elementReference>$Record__Prior.Fecha_de_Inicio__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Inicio de {!$Record__Prior.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Nuevo_servicio_Empezando</name>
        <label>Nuevo servicio Empezando</label>
        <locationX>842</locationX>
        <locationY>288</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyMailNewservice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>asignarPorKm</name>
        <label>asignarPorKm</label>
        <locationX>578</locationX>
        <locationY>1128</locationY>
        <assignmentItems>
            <assignToReference>DetalleFC.Precio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTransport_0_0_0.PrecioPorKm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetalleFC.Dias_de_Alquiler__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getKms.Kms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetalleFC.Factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TraerFCnueva.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetalleFC.Transport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTransport_0_0_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setService</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos valores al detalle de la factura</description>
        <name>AsignarValoresDetFact_0</name>
        <label>AsignarValoresDetFact</label>
        <locationX>50</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>DetalleFC.Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Vehicle__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetalleFC.Factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TraerFCnueva.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetalleFC.Precio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAuto_0.Precio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetalleFC.Dias_de_Alquiler__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcularDias</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setService</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos valores al detalle de la factura</description>
        <name>AsignarValoresDetFact_0_0_0</name>
        <label>AsignarValoresDetFact</label>
        <locationX>314</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>DetalleFC.Transport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Transport__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetalleFC.Factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TraerFCnueva.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetalleFC.Precio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTransport_0_0_0.Precio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetalleFC.Dias_de_Alquiler__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcularDias</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setService</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CrearFactura</name>
        <label>CrearFactura</label>
        <locationX>248</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>FacturaGet.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacturaGet.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacturaGet.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GuardarFacturaNueva</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setService</name>
        <label>setService</label>
        <locationX>248</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>ServiceVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceVar.Servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Servicio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceVar.Factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FacturaGet.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceVar.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GuardarService</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Tipo_de_Servicio_0</name>
        <label>Tipo de Servicio</label>
        <locationX>248</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>getTransport_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Viaje_Individual_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Servicio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Viaje Individual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAuto_0</targetReference>
            </connector>
            <label>Viaje Individual</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unico</name>
        <label>Unico</label>
        <locationX>446</locationX>
        <locationY>888</locationY>
        <defaultConnector>
            <targetReference>getKms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>esUnico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Tipo_de_Alquiler__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarValoresDetFact_0_0_0</targetReference>
            </connector>
            <label>esUnico</label>
        </rules>
    </decisions>
    <description>Flow para crear detalle al cerrar opp</description>
    <formulas>
        <description>Calcular diferencia de dìas</description>
        <name>CalcularDias</name>
        <dataType>Number</dataType>
        <expression>({!$Record__Prior.Fecha_de_Fin__c}-{!$Record__Prior.Fecha_de_Inicio__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>crearDetalle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>crearDetalle</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Detalle de la factura creado automaticamente</description>
        <name>guardarDetalle_0_0</name>
        <label>guardarDetalle</label>
        <locationX>248</locationX>
        <locationY>2040</locationY>
        <connector>
            <targetReference>acctualizarFC</targetReference>
        </connector>
        <inputReference>DetalleFC</inputReference>
    </recordCreates>
    <recordCreates>
        <name>GuardarFacturaNueva</name>
        <label>GuardarFacturaNueva</label>
        <locationX>248</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>TraerFCnueva</targetReference>
        </connector>
        <inputReference>FacturaGet</inputReference>
    </recordCreates>
    <recordCreates>
        <name>GuardarService</name>
        <label>GuardarService</label>
        <locationX>248</locationX>
        <locationY>1560</locationY>
        <connector>
            <targetReference>getServiciocreado</targetReference>
        </connector>
        <inputReference>ServiceVar</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Obtener Auto desde Opp</description>
        <name>getAuto_0</name>
        <label>getAuto</label>
        <locationX>50</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsignarValoresDetFact_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Vehicle__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getKms</name>
        <label>getKms</label>
        <locationX>578</locationX>
        <locationY>1008</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asignarPorKm</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Salida__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Salida_Desde__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Llegada__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Llegada_en__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Distancia__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getServiciocreado</name>
        <label>getServiciocreado</label>
        <locationX>248</locationX>
        <locationY>1680</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ServiceCumplidoToAcc_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Factura__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FacturaGet.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Servicio_Vendido__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTransport_0_0_0</name>
        <label>getTransport</label>
        <locationX>446</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Unico</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Transport__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Transport__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>TraerFCnueva</name>
        <label>TraerFCnueva</label>
        <locationX>248</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tipo_de_Servicio_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Factura__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>acctualizarFC</name>
        <label>acctualizarFC</label>
        <locationX>248</locationX>
        <locationY>2160</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Factura__c</field>
            <value>
                <elementReference>FacturaGet.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ServiceCumplidoToAcc_0</name>
        <label>ServiceCumplidoToAcc</label>
        <locationX>248</locationX>
        <locationY>1800</locationY>
        <connector>
            <targetReference>AddCalendarService_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Servicio_Vendido__c</field>
            <value>
                <elementReference>getServiciocreado.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CrearFactura</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>EnviarMail</name>
            <connector>
                <targetReference>Nuevo_servicio_Empezando</targetReference>
            </connector>
            <label>EnviarMail</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Fecha_de_Inicio__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BodyMailNewservice</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;El servicio de: {!$Record__Prior.Name} comienza {!$Record__Prior.Fecha_de_Inicio__c} y finaliza {!$Record__Prior.Fecha_de_Fin__c}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;La actividad es un {!$Record__Prior.Servicio__c} y su factura es la nº {!$Record__Prior.Factura__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>DetalleFC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Detalle_de_Fc__c</objectType>
    </variables>
    <variables>
        <description>Crear una factura</description>
        <name>FacturaGet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Factura__c</objectType>
    </variables>
    <variables>
        <name>ServiceVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Servicio_Vendido__c</objectType>
    </variables>
</Flow>
